@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap");

:root {
	--primary-color: #cc00cc;
}

* {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	font-family: "DM Sans", sans-serif;
}

/* Navbar */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.navbar li {
	list-style: none;
	margin-right: 2rem;
}

.navbar .search {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.navbar .search {
	display: flex;
	align-items: center;
	margin-top: 20px;
	width: 80%;
}

.navbar .search input[type="text"] {
	border: none;
	padding: 4px 8px;
	border-radius: 0px 4px 4px 0px;
	background-color: white;
	border-radius: 0;
	color: black;
	font-size: 1.3rem;
}

.navbar .search button {
	background-color: var(--primary-color);
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	padding: 4px 8px;
	font-size: 1.3rem;
}

.navbar__logo img {
	max-width: 65px;
	border: white 0.2rem solid;
	border-radius: 1rem;
}

.navbar__links {
	display: flex;
	align-items: center;
}

.navbar__links a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	margin-left: 20px;
}

.navbar__links a:hover {
	color: var(--primary-color);
}

/* MainPage.css */

.main-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	padding: 20px;
}

.main-page__logo img {
	max-width: 200px;
	border: white 0.2rem solid;
	border-radius: 1rem;
}

/* Heading */
h1 {
	font-size: 2rem;
	margin: 10px 0;
}

b {
	color: var(--primary-color);
}

/* Search bar */
.main-page .search form {
	display: flex;
	align-items: center;
	margin-top: 20px;
	width: 80%;
}

.main-page .search form input[type="text"] {
	padding: 8px 2rem;
	border: none;
	border-radius: 4px 0 0 4px;
	flex: 1;
	background-color: white;
	color: black;
	font-size: 1.5rem;
}

.main-page .search form button {
	background-color: var(--primary-color);
	color: black;
	font-weight: bold;
	border: none;
	padding: 8px 16px;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	font-size: 1.5rem;
}

/* Home button */
.main-page__home-button {
	text-align: center;
	margin-top: 20px;
}

.main-page__home-button button {
	background-color: var(--primary-color);
	color: black;
	font-weight: bold;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	font-size: 1.2rem;
	cursor: pointer;
}

/* Description */
.main-page__description {
	margin: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
}

/* Basic styling for the entire home page */
.home-page {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	padding: 20px;
}

/* Styling for individual show cards */
.home-page__show {
	flex: 0 0 calc(15% - 20px);
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	position: relative;
}

.home-page__show:hover {
	border: 1px solid var(--primary-color);
}

.home-page__show img {
	width: 100%;
	height: 180px;
	object-fit: contain;
	border-radius: 4px;
}

.home-page__show h3 {
	margin: 0.5rem 0 3rem 0;
	font-size: 1rem;
}

.home-page__show-status {
	position: absolute;
	bottom: 0;
	display: inline-block;
	padding: 5px 10px;
	background-color: var(--primary-color);
	color: white;
	border-radius: 4px;
	font-size: 1rem;
	margin: 0.5rem;
}

.pages {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
}

.pages button.current {
	background-color: #0000ff;
	color: black;
}

.pages button {
	padding: 10px 15px;
	margin: 0 5px;
	background-color: var(--primary-color);
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1rem;
}

.pages button:hover {
	background-color: #ff66ff;
	color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
	.search form {
		width: 100%;
		flex-direction: column;
		align-items: stretch;
	}

	.search form input[type="text"] {
		padding: 8px;
		font-size: 1rem;
		border-radius: 4px;
		margin-bottom: 10px;
	}

	.search form button {
		padding: 8px;
		font-size: 1rem;
		border-radius: 4px;
	}

	.home-page {
		padding: 10px;
	}

	.home-page__show {
		flex: 0 0 calc(40% - 20px);
	}

	.home-page__show img {
		height: 120px;
	}

	.home-page__show-status {
		font-size: 0.8rem;
	}

	.navbar {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navbar a {
		padding: 10px;
		font-size: 1rem;
		text-align: center;
	}
}
